* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 1200px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 440px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  float: left;
}
.messages .message.left .text_wrapper {
  margin-left: 20px;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 8px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  /*margin-top: -2px;*/
}
.messages .message .text_wrapper .text {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  word-wrap: break-word;
}
.messages .message .text_wrapper .timestamp {
  display: inline;
  font-size: 14px;
  font-weight: 200;
  float: right;
  margin-top: 4px;
  text-align: right;
}
.avatar img {
  width: 30px;
  margin-top: 8px;
  margin-left: 7px;
}

.disconnected {
  color: #f5886e;
}
.connected {
  color: #a3d063;
}
.user {
  font-weight: bold;
}

/*Twitch*/
.messages .message.left.twitch .avatar {
  background-color: #6441a4
}
.messages .message.left.twitch .text_wrapper {
  background-color: #927abf;
}
.messages .message.left.twitch .text_wrapper::after, .messages .message.left.twitch .text_wrapper::before {
  right: 100%;
  border-right-color: #927abf;
}
.messages .message.left.twitch .text {
  color: #462d72;
}

/*Facebook*/
.messages .message.left.facebook .avatar {
  background-color: #3b5998
}
.messages .message.left.facebook .text_wrapper {
  background-color: #758ab6;
}
.messages .message.left.facebook .text_wrapper::after, .messages .message.left.facebook .text_wrapper::before {
  right: 100%;
  border-right-color: #758ab6;
}
.messages .message.left.facebook .text {
  color: #293e6a;
}
